#latestpost {
    margin-left: 120px;
    margin-right: 120px;
}

#heading {
    font-size: 36px;
    font-weight: 600;
    font-family: Raleway,sans-serif;
    margin-top: 100px;
    color: #000;
  }


  #categories {
    margin-left: 30px;
    padding-top: 16px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  #filter {
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
  }
  #filtericon {
    height: 30px;
    text-align: center;
}
  .category {
    padding: 6px 14px ;
    width: auto;
    color: #0084ff;
    border: 1px solid #0084ff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
  }
  
  .category1 {
    padding: 6px 14px ;
    width: auto;
    color: #fff;
    border: 1px solid #0084ff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    background-color: #0084ff;
  }